
header{
    background-color: #2c3e50;
    height: 100px;
}
.col{
    border: 1px solid black;
}
#bgc-jumbo{
    background-color: #1abc9c;
}
.avatarimg{
    height: 250px;
}
section{
    border: 1px solid black;
}
.avatarimg, .start, .star, .skills{
    border: 1px solid black;
}
.img{
    height: 400px;
    border: 1px solid black;
}
.portfolio{
    height: 100px;
}
.form{
    text-align: start;
    height: 350px;
    border: 1px solid black;
}