
.navbar-collapse {
    flex-grow: 0;
}
#jumbo{
    color: white;
    font-size: 2rem;
    font-weight: 600;
}
.bgc{
    background-color: #1abc9c;
}
#portfolio, #contact{
    font-size: 1.5rem;
    font-weight: 600;
    padding-top: 40px;
}
.avatarimg{
    height: 250px; 
}
#about{
    font-size: 1.3rem;
    color: white;
}
.btn-outline-secondary {
    color: white;
    border-color: white;
}
section{
    border: 1px solid black;
}
.divider{
    display: flex;
    justify-content: center;
    align-items: center;
}
.divider i{
    padding: 20px 5px 20px 5px;
}
.line{
    border: 2px solid;
    width: 75px;
    border-radius: 20px;
}
 .skills{
   font-size: 1.2rem;
}
#contact .btn-primary {
    color: #fff;
    background-color: #1abc9c;
    border-color: #1abc9c;
}
img{
    max-height: 100%;
    width: 100%;
    border-radius: 15px;
}

#contact .form-control {
    border-radius: 0;
}
#contact textarea{
    height: 200px;
}
#contact ::placeholder{
    color: black;
}

footer{
    background-color: #3a546d;
    color: white;
}

.copyright{
    background-color: #2c3e50;
}
.links i{
border: 1px solid white;
padding: 5px;
border-radius: 50%;
height: 30px;
width: 30px;
}
p a{
    text-decoration: none;
    color: #1abc9c;;
}